.contractitem-div:hover {
  border-color: black;
}

.contractitem-div {
  border: solid white 3px;
  border-radius: 25px;
  margin: 10px auto;
  width: 75%;
  background-color: lightgray;
}

.personalLogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  padding: 50px;
}

.contract-list {
  padding: 25px;
}

.contract-list .card {
  margin-bottom: 25px;
}

.contract-new-field {
  border: solid black 2px;
  border-radius: 5px;
  min-width: 25%;
  height: 40px;
  font-size: medium;
  font-weight: bolder;
}
