.contractitem-div:hover {
  border-color: black;
}

.contractitem-div {
  border: solid white 3px;
  border-radius: 25px;
  margin: 10px auto;
  width: 75%;
  background-color: lightgray;
}

.personalLogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-header {
  margin: 2%;
  color: white;
  }

.black-box-format .small-header, .black-box-text p  {
  color: white;
}

#home-picture-div {
  background: url("images/blur-hemp.jpg") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -10px; 
}

#about-picture-div {
  background: url("images/upclose-hemp.jpg") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -10px; 
}

.black-box-text {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  border: solid white 2px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.black-box-format {
  float: none;
  margin: 3%;
  color: black;
}

.small-header {
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 10px;
}

.btn-why {
  margin-top: 10px;
}

.login {
  padding: 50px;
}

.contract-list {
  padding: 25px;
}

.contract-list .card {
  margin-bottom: 25px;
}

.contract-new-btn {
  margin-bottom: 25px;
}

.contract-new-field {
  border: solid black 2px;
  border-radius: 5px;
  min-width: 25%;
  height: 40px;
  font-size: medium;
  font-weight: bolder;
}

.is-child {
  border: solid 5px lightgreen;
  border-radius: 5px;
  margin: -12px;
}

.is-ancestor {
  border: none;
}

